@import "font-awesome.css";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nokia-Sans-S60';
    src: url('../fonts/NokiaSansS60.woff');
    font-weight: normal;
    font-style: normal;
}

