@media (max-width: 1200px)
  .subheader_phone_number
    font-size: 18px
  .reasons_item_text
    width: 300px
  .mobile_item
    width: 300px
  .link_row_top
    .link_top
      font-size: 10px !important
  .link_row_bottom
    a
      font-size: 8px !important

@media (max-width: 991px)
  nav
    padding-top: 22px
    .top_menu
      &_item
        &:after
          margin-left: 19px

      &_link
        font-size: 12px !important


  .promo
    min-height: 600px
    padding-bottom: 70px
    &_title
      font-size: 46px
    &_subtitle
      font-size: 30px
    &_text
      padding: 20px
    .request_btn
      margin-top: 50px


  .reasons_item
    flex-direction: column
    justify-content: flex-start
    &_title
      margin-top: 30px
    &_text
      height: auto

  .mobile_item
    width: 210px
    &_cover
      font-size: 18px


  .footer_block
    &:nth-child(2)
      width: auto !important
    &:nth-child(odd)
      width: 180px !important

    .store_link
      display: block


@media (max-width: 767px)
  nav
    height: 50px
    .top_menu
      position: fixed
      z-index: 100
      flex-direction: column
      justify-content: center
      align-items: center
      top: 0
      left: -100%
      width: 50%
      height: 100vh
      background: rgba(0, 0, 0, .8)
      transition: all 0.5s
      &_active
        left: 0

      &_item
        width: 100%
        &:after
          display: none
      &_link
        width: 100%
        padding: 10px 0
        text-align: center
        font-size: 18px !important


  .hamburger
    display: block
    position: absolute
    top: 17px
    right: 20px
    width: 30px
    height: 21px
    span
      display: block
      margin-bottom: 5px
      height: 2px
      background: #fff
      transition: all 0.5s
    &_active
      span
        margin-top: 5px
        &:nth-child(1)
          transform: rotate(-45deg) translateY(5px)
        &:nth-child(2)
          display: none
        &:nth-child(3)
          transform: rotate(45deg) translateY(-5px)



  .subheader
    height: 74px
    .logo_container
      top: 0
    .logo_title
      font-size: 20px
    .logo_text
      display: none

  .reasons_item
    margin-top: 30px
    &:first-child
      margin-top: 0

  .mobile_container
    .row
      margin: 0

  .mobile_item
    width: 320px
    margin: 20px auto

  .choice, .car
    display: none


  footer
    height: auto

    .footer_wrapper
      height: 90px

    .footer_block
      &:nth-child(odd)
        width: auto !important
      &:nth-child(2)
        display: none
      .store_link
        display: inline-block